* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
.wrapper {
  backface-visibility: hidden;
  min-height: 100vh;
}
a {
  text-decoration: none !important;
  color: #000 !important;
}
.main-menu {
  position: fixed;
  width: 260px;
  transform: translate3d(0, 0, 0);
  transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background 0s;
  backface-visibility: hidden;
  box-shadow: 0 0 15px 0 rgb(34 41 47 / 10%);
  height: 100%;
  top: 0;
  z-index: 20;
  padding: 1.5rem 1rem;
}
.content {
  position: relative;
  transition: 300ms ease all;
  backface-visibility: hidden;
  padding: calc(2rem + 4.45rem + 1.3rem) 2rem 0;
  margin-left: 260px;
  overflow: hidden;
  min-height: calc(100% - 3.35rem);
}
.routes-wrapper {
  border: 1px solid #ebe9f1;
  border-radius: 0.428rem;
  box-shadow: 0 0 15px 0 rgb(34 41 47 / 10%);
}
.header-navbar-shadow {
  left: 0;
  display: block;
  width: 100%;
  height: 102px;
  position: fixed;
  top: 0;
  z-index: 11;
  background: linear-gradient(
    180deg,
    rgba(248, 248, 248, 0.95) 44%,
    rgba(248, 248, 248, 0.46) 73%,
    rgba(255, 255, 255, 0)
  );
}
.navbar {
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  margin: 1.3rem auto 0;
  border-radius: 0.428rem;
  background-color: #fff;
  width: 100%;
  border-radius: 0.428rem;
  position: fixed !important;
  top: 0;
  width: calc(100vw - (100vw - 100%) - calc(2rem * 2) - 260px);
  z-index: 12;
  display: flex;
  justify-content: unset !important;
  padding: 0.8rem 1rem !important;
  min-height: 3.5rem;
}
.nav-links-container {
  margin-top: 2rem;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  margin-bottom: 1rem;
}
.nav-link:hover {
  box-shadow: 0 0 10px 1px #000;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff !important;
  transition: transform 0.25s ease;
}
.nav-icon {
  margin-right: 1.4rem;
}
.header-menu-toggler {
  visibility: hidden;
}

.nav-links-container span {
  text-transform: capitalize;
}
@media (max-width: 1200px) {
  .main-menu {
    display: none;
  }

  .content {
    margin-left: 0;
  }

  .navbar {
    top: 0;
    width: calc(100vw - (100vw - 100%) - calc(2rem * 2) - 0px);
  }
  .header-menu-toggler {
    visibility: visible;
    cursor: pointer;
    margin-right: 2rem;
  }
}
